# Get Night CGM function
Creating a function to give me night CGM for available data

In [1]:
from LabData.DataLoaders.CGMLoader import CGMLoader
from LabData.DataLoaders.SleepLoader import SleepLoader

In [2]:
import pandas as pd
import datetime

In [3]:
cgml = CGMLoader()
sll = SleepLoader()

In [4]:
cgmdf = cgml.get_data().df

In [5]:
sleepdf = sll.get_data().df

/home/elming/anaconda3/envs/mylabdata/lib/python3.7/site-packages/pandas/core/indexes/base.py:183: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)

In [6]:
sleepdf =sleepdf.reset_index()

In [209]:
sleepdf['sleep_time'] = sleepdf['sleep_time'].dt.tz_localize('Asia/Jerusalem', ambiguous='NaT', nonexistent='NaT')
sleepdf['wakeup_time'] = sleepdf['wakeup_time'].dt.tz_localize('Asia/Jerusalem', ambiguous='NaT', nonexistent='NaT')

In [210]:
sleepdf.drop(columns='Quality', inplace=True)

KeyError: "['Quality'] not found in axis"

In [213]:
sleepdf.shape

(64047, 4)

In [212]:
sleepdf.dropna(how='any', inplace=True)

In [10]:
for index, row in sleepdf.iterrows():
    if row['sleep_time'].date() != row['wakeup_time'].date():
        s = pd.Series([row['RegistrationCode'], row['wakeup_time'].replace(hour=0, minute=0, second=0), row['wakeup_time']],index=['RegistrationCode', 'sleep_time', 'wakeup_time'])
        sleepdf = sleepdf.append(s, ignore_index=True)

In [214]:
sleepdf

                             index                sleep_time  \
RegistrationCode day
0                2015-06-11      1 2015-06-11 09:56:54+03:00
                 2015-06-14      4 2015-06-14 01:45:40+03:00
                 2015-06-15      6 2015-06-15 00:09:00+03:00
                 2015-06-15      7 2015-06-15 23:15:00+03:00
                 2015-06-17      8 2015-06-17 00:30:00+03:00
...                            ...                       ...
3998965          2018-02-08  72557 2018-02-08 00:00:00+02:00
                 2018-02-10  72558 2018-02-10 00:00:00+02:00
2147483647       2015-05-20  72559 2015-05-20 00:00:00+03:00
                 2015-05-23  72560 2015-05-23 00:00:00+03:00
                 2015-05-25  72561 2015-05-25 00:00:00+03:00

                                          wakeup_time Duration
RegistrationCode day
0                2015-06-11 2015-06-11 19:56:37+03:00 09:59:43
                 2015-06-14 2015-06-14 11:08:19+03:00 09:22:39
                 2015-06-15 2015-06-15 07:52:42+03:00 07:43:42
                 2015-06-15 2015-06-16 06:50:48+03:00 07:35:48
                 2015-06-17 2015-06-17 07:30:21+03:00 07:00:21
...                                               ...      ...
3998965          2018-02-08 2018-02-08 10:45:00+02:00 10:45:00
                 2018-02-10 2018-02-10 09:45:00+02:00 09:45:00
2147483647       2015-05-20 2015-05-20 07:15:53+03:00 07:15:53
                 2015-05-23 2015-05-23 07:10:41+03:00 07:10:41
                 2015-05-25 2015-05-25 11:00:43+03:00 11:00:43

[64047 rows x 4 columns]

In [12]:
sleepdf.loc[0].sleep_time.replace(hour=0, minute=0, second=0)

Timestamp('2015-06-11 00:00:00')

In [13]:
sleepdf['day'] = sleepdf.sleep_time.dt.date

In [14]:
sleepdf.reset_index(inplace=True)
sleepdf.set_index(['RegistrationCode', 'day'], inplace=True)

In [215]:
sleepdf

                             index                sleep_time  \
RegistrationCode day
0                2015-06-11      1 2015-06-11 09:56:54+03:00
                 2015-06-14      4 2015-06-14 01:45:40+03:00
                 2015-06-15      6 2015-06-15 00:09:00+03:00
                 2015-06-15      7 2015-06-15 23:15:00+03:00
                 2015-06-17      8 2015-06-17 00:30:00+03:00
...                            ...                       ...
3998965          2018-02-08  72557 2018-02-08 00:00:00+02:00
                 2018-02-10  72558 2018-02-10 00:00:00+02:00
2147483647       2015-05-20  72559 2015-05-20 00:00:00+03:00
                 2015-05-23  72560 2015-05-23 00:00:00+03:00
                 2015-05-25  72561 2015-05-25 00:00:00+03:00

                                          wakeup_time Duration
RegistrationCode day
0                2015-06-11 2015-06-11 19:56:37+03:00 09:59:43
                 2015-06-14 2015-06-14 11:08:19+03:00 09:22:39
                 2015-06-15 2015-06-15 07:52:42+03:00 07:43:42
                 2015-06-15 2015-06-16 06:50:48+03:00 07:35:48
                 2015-06-17 2015-06-17 07:30:21+03:00 07:00:21
...                                               ...      ...
3998965          2018-02-08 2018-02-08 10:45:00+02:00 10:45:00
                 2018-02-10 2018-02-10 09:45:00+02:00 09:45:00
2147483647       2015-05-20 2015-05-20 07:15:53+03:00 07:15:53
                 2015-05-23 2015-05-23 07:10:41+03:00 07:10:41
                 2015-05-25 2015-05-25 11:00:43+03:00 11:00:43

[64047 rows x 4 columns]

## Night CGM for those dates with sleep data available

In [16]:
cgmdf.reset_index(inplace=True)

In [17]:
cgmdf['day'] = cgmdf.Date.dt.date

In [18]:
cgmdf.set_index(['RegistrationCode','day'], inplace=True)

In [19]:
cgmdf

                            ConnectionID                      Date  \
RegistrationCode day
-1               2013-01-21            1 2013-01-21 14:20:50+02:00
                 2013-01-21            1 2013-01-21 14:25:50+02:00
                 2013-01-21            1 2013-01-21 14:30:50+02:00
                 2013-01-21            1 2013-01-21 14:35:50+02:00
                 2013-01-21            1 2013-01-21 14:40:50+02:00
...                                  ...                       ...
9999             2013-02-09           27 2013-02-09 19:37:29+02:00
                 2013-02-09           27 2013-02-09 19:42:29+02:00
                 2013-02-09           27 2013-02-09 19:47:29+02:00
                 2013-02-09           27 2013-02-09 19:52:29+02:00
                 2013-02-09           27 2013-02-09 19:57:29+02:00

                             GlucoseValue      PPGR
RegistrationCode day
-1               2013-01-21          88.0  0.000000
                 2013-01-21          89.0  0.000000
                 2013-01-21          87.0  0.000000
                 2013-01-21          85.0  0.000000
                 2013-01-21          84.0  2.583333
...                                   ...       ...
9999             2013-02-09          75.0       NaN
                 2013-02-09          77.0       NaN
                 2013-02-09          80.0       NaN
                 2013-02-09          84.0       NaN
                 2013-02-09          87.0       NaN

[7974202 rows x 4 columns]

I want to retain only those days with available sleep data

In [216]:
merged_df = pd.merge(cgmdf, sleepdf, on=['RegistrationCode','day'], how='inner')

In [217]:
merged_df

                            ConnectionID                      Date  \
RegistrationCode day
1                2016-02-22         1319 2016-02-22 09:20:30+02:00
                 2016-02-22         1319 2016-02-22 09:20:30+02:00
                 2016-02-22         1319 2016-02-22 09:25:30+02:00
                 2016-02-22         1319 2016-02-22 09:25:30+02:00
                 2016-02-22         1319 2016-02-22 09:30:30+02:00
...                                  ...                       ...
999443           2017-12-27         2158 2017-12-27 06:31:00+02:00
                 2017-12-27         2158 2017-12-27 06:46:00+02:00
                 2017-12-27         2158 2017-12-27 07:01:00+02:00
                 2017-12-27         2158 2017-12-27 07:16:00+02:00
                 2017-12-27         2158 2017-12-27 07:31:00+02:00

                             GlucoseValue      PPGR  index  \
RegistrationCode day
1                2016-02-22         107.0  1.833333    228
                 2016-02-22         107.0  1.833333    229
                 2016-02-22         106.0  3.708333    228
                 2016-02-22         106.0  3.708333    229
                 2016-02-22         106.0  3.625000    228
...                                   ...       ...    ...
999443           2017-12-27          49.0       NaN  47213
                 2017-12-27          47.0       NaN  47213
                 2017-12-27          44.0       NaN  47213
                 2017-12-27          47.0       NaN  47213
                 2017-12-27          50.0       NaN  47213

                                           sleep_time  \
RegistrationCode day
1                2016-02-22 2016-02-22 00:30:43+02:00
                 2016-02-22 2016-02-22 23:15:00+02:00
                 2016-02-22 2016-02-22 00:30:43+02:00
                 2016-02-22 2016-02-22 23:15:00+02:00
                 2016-02-22 2016-02-22 00:30:43+02:00
...                                               ...
999443           2017-12-27 2017-12-27 23:54:30+02:00
                 2017-12-27 2017-12-27 23:54:30+02:00
                 2017-12-27 2017-12-27 23:54:30+02:00
                 2017-12-27 2017-12-27 23:54:30+02:00
                 2017-12-27 2017-12-27 23:54:30+02:00

                                          wakeup_time Duration
RegistrationCode day
1                2016-02-22 2016-02-22 04:59:00+02:00 04:28:17
                 2016-02-22 2016-02-23 07:20:00+02:00 08:05:00
                 2016-02-22 2016-02-22 04:59:00+02:00 04:28:17
                 2016-02-22 2016-02-23 07:20:00+02:00 08:05:00
                 2016-02-22 2016-02-22 04:59:00+02:00 04:28:17
...                                               ...      ...
999443           2017-12-27 2017-12-28 07:00:03+02:00 07:05:33
                 2017-12-27 2017-12-28 07:00:03+02:00 07:05:33
                 2017-12-27 2017-12-28 07:00:03+02:00 07:05:33
                 2017-12-27 2017-12-28 07:00:03+02:00 07:05:33
                 2017-12-27 2017-12-28 07:00:03+02:00 07:05:33

[5826522 rows x 8 columns]

In [22]:
# len(merged_df.index.unique())

In [23]:
33870/79441

0.4263541496204731

After filtering of the original cgm df with 79441 unique day-RC pairs to the cgm df containing only those rows with sleep data available we are left with  unique RC-Day pairs. We lost ~1/3 and left with 36% of the original data

## Sleep df retain night sleep only

In [24]:
sleepdf

                             index          sleep_time         wakeup_time
RegistrationCode day
0                2015-06-11      0 2015-06-11 09:23:15 2015-06-11 09:23:21
                 2015-06-11      1 2015-06-11 09:56:54 2015-06-11 19:56:37
                 2015-06-12      2 2015-06-12 01:50:00 2015-06-12 02:29:19
                 2015-06-12      3 2015-06-12 02:29:09 2015-06-12 02:29:19
                 2015-06-14      4 2015-06-14 01:45:40 2015-06-14 11:08:19
...                            ...                 ...                 ...
3998965          2018-02-08  72557 2018-02-08 00:00:00 2018-02-08 10:45:00
                 2018-02-10  72558 2018-02-10 00:00:00 2018-02-10 09:45:00
2147483647       2015-05-20  72559 2015-05-20 00:00:00 2015-05-20 07:15:53
                 2015-05-23  72560 2015-05-23 00:00:00 2015-05-23 07:10:41
                 2015-05-25  72561 2015-05-25 00:00:00 2015-05-25 11:00:43

[72562 rows x 3 columns]

In [25]:
sleepdf['Duration'] = sleepdf.wakeup_time - sleepdf.sleep_time

In [218]:
sleepdf = sleepdf[(sleepdf.Duration > datetime.timedelta(hours=3.5)) & (
    sleepdf.Duration < datetime.timedelta(hours=14))]

In [219]:
merged_df = pd.merge(cgmdf, sleepdf, on=['RegistrationCode','day'], how='inner')

In [220]:
merged_df

                            ConnectionID                      Date  \
RegistrationCode day
1                2016-02-22         1319 2016-02-22 09:20:30+02:00
                 2016-02-22         1319 2016-02-22 09:20:30+02:00
                 2016-02-22         1319 2016-02-22 09:25:30+02:00
                 2016-02-22         1319 2016-02-22 09:25:30+02:00
                 2016-02-22         1319 2016-02-22 09:30:30+02:00
...                                  ...                       ...
999443           2017-12-27         2158 2017-12-27 06:31:00+02:00
                 2017-12-27         2158 2017-12-27 06:46:00+02:00
                 2017-12-27         2158 2017-12-27 07:01:00+02:00
                 2017-12-27         2158 2017-12-27 07:16:00+02:00
                 2017-12-27         2158 2017-12-27 07:31:00+02:00

                             GlucoseValue      PPGR  index  \
RegistrationCode day
1                2016-02-22         107.0  1.833333    228
                 2016-02-22         107.0  1.833333    229
                 2016-02-22         106.0  3.708333    228
                 2016-02-22         106.0  3.708333    229
                 2016-02-22         106.0  3.625000    228
...                                   ...       ...    ...
999443           2017-12-27          49.0       NaN  47213
                 2017-12-27          47.0       NaN  47213
                 2017-12-27          44.0       NaN  47213
                 2017-12-27          47.0       NaN  47213
                 2017-12-27          50.0       NaN  47213

                                           sleep_time  \
RegistrationCode day
1                2016-02-22 2016-02-22 00:30:43+02:00
                 2016-02-22 2016-02-22 23:15:00+02:00
                 2016-02-22 2016-02-22 00:30:43+02:00
                 2016-02-22 2016-02-22 23:15:00+02:00
                 2016-02-22 2016-02-22 00:30:43+02:00
...                                               ...
999443           2017-12-27 2017-12-27 23:54:30+02:00
                 2017-12-27 2017-12-27 23:54:30+02:00
                 2017-12-27 2017-12-27 23:54:30+02:00
                 2017-12-27 2017-12-27 23:54:30+02:00
                 2017-12-27 2017-12-27 23:54:30+02:00

                                          wakeup_time Duration
RegistrationCode day
1                2016-02-22 2016-02-22 04:59:00+02:00 04:28:17
                 2016-02-22 2016-02-23 07:20:00+02:00 08:05:00
                 2016-02-22 2016-02-22 04:59:00+02:00 04:28:17
                 2016-02-22 2016-02-23 07:20:00+02:00 08:05:00
                 2016-02-22 2016-02-22 04:59:00+02:00 04:28:17
...                                               ...      ...
999443           2017-12-27 2017-12-28 07:00:03+02:00 07:05:33
                 2017-12-27 2017-12-28 07:00:03+02:00 07:05:33
                 2017-12-27 2017-12-28 07:00:03+02:00 07:05:33
                 2017-12-27 2017-12-28 07:00:03+02:00 07:05:33
                 2017-12-27 2017-12-28 07:00:03+02:00 07:05:33

[5826522 rows x 8 columns]

In [172]:
# len(merged_df.index.unique())

In [173]:
merged_df['Date'] = merged_df['Date'].dt.tz_localize(None)

In [221]:
cgm_night = merged_df[(merged_df['Date'] >= merged_df['sleep_time']) & (merged_df['Date'] <= merged_df['wakeup_time'])]
cgm_night

                            ConnectionID                      Date  \
RegistrationCode day
1                2016-02-22         1319 2016-02-22 23:15:31+02:00
                 2016-02-22         1319 2016-02-22 23:20:31+02:00
                 2016-02-22         1319 2016-02-22 23:25:31+02:00
                 2016-02-22         1319 2016-02-22 23:30:31+02:00
                 2016-02-22         1319 2016-02-22 23:35:31+02:00
...                                  ...                       ...
999443           2017-12-06         2157 2017-12-06 05:52:00+02:00
                 2017-12-06         2157 2017-12-06 06:07:00+02:00
                 2017-12-06         2157 2017-12-06 06:22:00+02:00
                 2017-12-06         2157 2017-12-06 06:37:00+02:00
                 2017-12-06         2157 2017-12-06 06:52:00+02:00

                             GlucoseValue  PPGR  index  \
RegistrationCode day
1                2016-02-22         106.0   0.0    229
                 2016-02-22         106.0   0.0    229
                 2016-02-22         105.0   0.0    229
                 2016-02-22         105.0   0.0    229
                 2016-02-22         104.0   0.0    229
...                                   ...   ...    ...
999443           2017-12-06          68.0   NaN  47212
                 2017-12-06          65.0   NaN  47212
                 2017-12-06          64.0   NaN  47212
                 2017-12-06          65.0   NaN  47212
                 2017-12-06          64.0   NaN  47212

                                           sleep_time  \
RegistrationCode day
1                2016-02-22 2016-02-22 23:15:00+02:00
                 2016-02-22 2016-02-22 23:15:00+02:00
                 2016-02-22 2016-02-22 23:15:00+02:00
                 2016-02-22 2016-02-22 23:15:00+02:00
                 2016-02-22 2016-02-22 23:15:00+02:00
...                                               ...
999443           2017-12-06 2017-12-06 00:37:27+02:00
                 2017-12-06 2017-12-06 00:37:27+02:00
                 2017-12-06 2017-12-06 00:37:27+02:00
                 2017-12-06 2017-12-06 00:37:27+02:00
                 2017-12-06 2017-12-06 00:37:27+02:00

                                          wakeup_time Duration
RegistrationCode day
1                2016-02-22 2016-02-23 07:20:00+02:00 08:05:00
                 2016-02-22 2016-02-23 07:20:00+02:00 08:05:00
                 2016-02-22 2016-02-23 07:20:00+02:00 08:05:00
                 2016-02-22 2016-02-23 07:20:00+02:00 08:05:00
                 2016-02-22 2016-02-23 07:20:00+02:00 08:05:00
...                                               ...      ...
999443           2017-12-06 2017-12-06 07:10:48+02:00 06:33:21
                 2017-12-06 2017-12-06 07:10:48+02:00 06:33:21
                 2017-12-06 2017-12-06 07:10:48+02:00 06:33:21
                 2017-12-06 2017-12-06 07:10:48+02:00 06:33:21
                 2017-12-06 2017-12-06 07:10:48+02:00 06:33:21

[1186482 rows x 8 columns]

In [34]:
cgm_night.loc[('1', pd.to_datetime('2016-02-27')), :]

/home/elming/anaconda3/envs/mylabdata/lib/python3.7/site-packages/pandas/core/indexing.py:1418: PerformanceWarning: indexing past lexsort depth may impact performance.
  return self._getitem_tuple(key)

                            ConnectionID                Date  GlucoseValue  \
RegistrationCode day
1                2016-02-27         1319 2016-02-27 00:00:32          94.0
                 2016-02-27         1319 2016-02-27 00:05:32          94.0
                 2016-02-27         1319 2016-02-27 00:10:32          94.0
                 2016-02-27         1319 2016-02-27 00:15:32          94.0
                 2016-02-27         1319 2016-02-27 00:20:32          94.0
...                                  ...                 ...           ...
                 2016-02-27         1319 2016-02-27 06:35:32          98.0
                 2016-02-27         1319 2016-02-27 06:40:32          98.0
                 2016-02-27         1319 2016-02-27 06:45:32          98.0
                 2016-02-27         1319 2016-02-27 06:50:32          98.0
                 2016-02-27         1319 2016-02-27 06:55:32          98.0

                                  PPGR  index sleep_time         wakeup_time  \
RegistrationCode day
1                2016-02-27   0.000000  49628 2016-02-27 2016-02-27 07:00:00
                 2016-02-27   0.000000  49628 2016-02-27 2016-02-27 07:00:00
                 2016-02-27   0.000000  49628 2016-02-27 2016-02-27 07:00:00
                 2016-02-27   0.000000  49628 2016-02-27 2016-02-27 07:00:00
                 2016-02-27   0.000000  49628 2016-02-27 2016-02-27 07:00:00
...                                ...    ...        ...                 ...
                 2016-02-27  18.041667  49628 2016-02-27 2016-02-27 07:00:00
                 2016-02-27  21.083333  49628 2016-02-27 2016-02-27 07:00:00
                 2016-02-27  24.041667  49628 2016-02-27 2016-02-27 07:00:00
                 2016-02-27  26.875000  49628 2016-02-27 2016-02-27 07:00:00
                 2016-02-27  29.541667  49628 2016-02-27 2016-02-27 07:00:00

                            Duration
RegistrationCode day
1                2016-02-27 07:00:00
                 2016-02-27 07:00:00
                 2016-02-27 07:00:00
                 2016-02-27 07:00:00
                 2016-02-27 07:00:00
...                              ...
                 2016-02-27 07:00:00
                 2016-02-27 07:00:00
                 2016-02-27 07:00:00
                 2016-02-27 07:00:00
                 2016-02-27 07:00:00

[84 rows x 8 columns]

In [35]:
# cgm_night[cgm_night.index.value_counts() == 1]

In [36]:
cgm_night.loc[('113175', pd.to_datetime('2016-03-08')), :]

                            ConnectionID                Date  GlucoseValue  \
RegistrationCode day
113175           2016-03-08         1322 2016-03-08 00:01:05          76.0
                 2016-03-08         1322 2016-03-08 00:06:05          75.0
                 2016-03-08         1322 2016-03-08 00:11:05          74.0
                 2016-03-08         1322 2016-03-08 00:16:05          73.0
                 2016-03-08         1322 2016-03-08 00:21:05          72.0
...                                  ...                 ...           ...
                 2016-03-08         1322 2016-03-08 06:51:05          68.0
                 2016-03-08         1322 2016-03-08 06:56:05          70.0
                 2016-03-08         1322 2016-03-08 07:01:05          71.0
                 2016-03-08         1322 2016-03-08 07:06:05          72.0
                 2016-03-08         1322 2016-03-08 07:11:05          72.0

                                  PPGR  index sleep_time         wakeup_time  \
RegistrationCode day
113175           2016-03-08   0.000000  51911 2016-03-08 2016-03-08 07:13:00
                 2016-03-08   0.000000  51911 2016-03-08 2016-03-08 07:13:00
                 2016-03-08   0.000000  51911 2016-03-08 2016-03-08 07:13:00
                 2016-03-08   0.000000  51911 2016-03-08 2016-03-08 07:13:00
                 2016-03-08   2.583333  51911 2016-03-08 2016-03-08 07:13:00
...                                ...    ...        ...                 ...
                 2016-03-08  25.166667  51911 2016-03-08 2016-03-08 07:13:00
                 2016-03-08  22.583333  51911 2016-03-08 2016-03-08 07:13:00
                 2016-03-08  21.916667  51911 2016-03-08 2016-03-08 07:13:00
                 2016-03-08  21.291667  51911 2016-03-08 2016-03-08 07:13:00
                 2016-03-08  22.791667  51911 2016-03-08 2016-03-08 07:13:00

                            Duration
RegistrationCode day
113175           2016-03-08 07:13:00
                 2016-03-08 07:13:00
                 2016-03-08 07:13:00
                 2016-03-08 07:13:00
                 2016-03-08 07:13:00
...                              ...
                 2016-03-08 07:13:00
                 2016-03-08 07:13:00
                 2016-03-08 07:13:00
                 2016-03-08 07:13:00
                 2016-03-08 07:13:00

[87 rows x 8 columns]

In [37]:
cgm_night

                            ConnectionID                Date  GlucoseValue  \
RegistrationCode day
1                2016-02-22         1319 2016-02-22 23:15:31         106.0
                 2016-02-22         1319 2016-02-22 23:20:31         106.0
                 2016-02-22         1319 2016-02-22 23:25:31         105.0
                 2016-02-22         1319 2016-02-22 23:30:31         105.0
                 2016-02-22         1319 2016-02-22 23:35:31         104.0
...                                  ...                 ...           ...
999443           2017-12-06         2157 2017-12-06 05:52:00          68.0
                 2017-12-06         2157 2017-12-06 06:07:00          65.0
                 2017-12-06         2157 2017-12-06 06:22:00          64.0
                 2017-12-06         2157 2017-12-06 06:37:00          65.0
                 2017-12-06         2157 2017-12-06 06:52:00          64.0

                             PPGR  index          sleep_time  \
RegistrationCode day
1                2016-02-22   0.0    229 2016-02-22 23:15:00
                 2016-02-22   0.0    229 2016-02-22 23:15:00
                 2016-02-22   0.0    229 2016-02-22 23:15:00
                 2016-02-22   0.0    229 2016-02-22 23:15:00
                 2016-02-22   0.0    229 2016-02-22 23:15:00
...                           ...    ...                 ...
999443           2017-12-06   NaN  47212 2017-12-06 00:37:27
                 2017-12-06   NaN  47212 2017-12-06 00:37:27
                 2017-12-06   NaN  47212 2017-12-06 00:37:27
                 2017-12-06   NaN  47212 2017-12-06 00:37:27
                 2017-12-06   NaN  47212 2017-12-06 00:37:27

                                    wakeup_time Duration
RegistrationCode day
1                2016-02-22 2016-02-23 07:20:00 08:05:00
                 2016-02-22 2016-02-23 07:20:00 08:05:00
                 2016-02-22 2016-02-23 07:20:00 08:05:00
                 2016-02-22 2016-02-23 07:20:00 08:05:00
                 2016-02-22 2016-02-23 07:20:00 08:05:00
...                                         ...      ...
999443           2017-12-06 2017-12-06 07:10:48 06:33:21
                 2017-12-06 2017-12-06 07:10:48 06:33:21
                 2017-12-06 2017-12-06 07:10:48 06:33:21
                 2017-12-06 2017-12-06 07:10:48 06:33:21
                 2017-12-06 2017-12-06 07:10:48 06:33:21

[1194981 rows x 8 columns]

In [ ]:
import plotly.express as px

In [ ]:
def plotly_cgm(cgm_df):
    # cgm_df = cgm_df.reset_index('Date')
    fig = px.line(cgm_df, x="Date", y="GlucoseValue", title='CGM')
    fig.show()

In [ ]:
cgm_night.query("RegistrationCode == '113175' and ConnectionID == '1322'")

In [ ]:
plotly_cgm(cgm_df=cgm_night.query("RegistrationCode == '579543' and ConnectionID == '2228'"))

In [ ]:
plotly_cgm(cgm_df=cgm_night.query("RegistrationCode == '579543' and ConnectionID == '2229'"))

Some examples from GDM

In [ ]:
plotly_cgm(cgm_night.query("RegistrationCode == '262895'"))

In [ ]:
plotly_cgm(cgm_night.query("RegistrationCode == '30398'"))

## Test night cgm mage calculation

In [ ]:
test = cgm_night.query("RegistrationCode == '579543' and ConnectionID == '2228'")

In [ ]:
test = test.reset_index('day').set_index(['ConnectionID', 'Date'], append=True).drop(columns=['day', 'sleep_time', 'wakeup_time', 'Duration'])

In [ ]:
test

In [ ]:
cgml.calculate_mage(test)

# Alternative faster way of getting night cgm

In [38]:
from LabData.DataLoaders.CGMLoader import CGMLoader
from LabData.DataLoaders.SleepLoader import SleepLoader
from LabUtils.addloglevels import sethandlers
sethandlers()

(None, None)

In [39]:
import pandas as pd
import datetime

In [75]:
cgml = CGMLoader()
sll = SleepLoader()

In [76]:
cgm = cgml.get_data().df

2020-20-01 10:05:57 INFO Loader.py:296 Starting to load data for CGMLoader
2020-20-01 10:05:57 INFO CGMLoader.py:80 Starting to load CGM data
2020-20-01 10:05:57 INFO Caching.py:125 Loading con_metadata from cache...
2020-20-01 10:05:57 INFO Caching.py:125 Loading cgm from cache...
2020-20-01 10:06:00 INFO CGMLoader.py:87 Finished to load CGM data
2020-20-01 10:06:00 INFO Loader.py:298 Finished loading data for CGMLoader
2020-20-01 10:06:00 INFO Loader.py:296 Starting to load data for SubjectLoader
2020-20-01 10:06:00 INFO Caching.py:125 Loading subjects from cache...
2020-20-01 10:06:00 INFO Loader.py:298 Finished loading data for SubjectLoader

In [77]:
cgm

                                                         GlucoseValue  \
RegistrationCode ConnectionID Date
-1               1            2013-01-21 14:20:50+02:00          88.0
                              2013-01-21 14:25:50+02:00          89.0
                              2013-01-21 14:30:50+02:00          87.0
                              2013-01-21 14:35:50+02:00          85.0
                              2013-01-21 14:40:50+02:00          84.0
...                                                               ...
9999             27           2013-02-09 19:37:29+02:00          75.0
                              2013-02-09 19:42:29+02:00          77.0
                              2013-02-09 19:47:29+02:00          80.0
                              2013-02-09 19:52:29+02:00          84.0
                              2013-02-09 19:57:29+02:00          87.0

                                                             PPGR
RegistrationCode ConnectionID Date
-1               1            2013-01-21 14:20:50+02:00  0.000000
                              2013-01-21 14:25:50+02:00  0.000000
                              2013-01-21 14:30:50+02:00  0.000000
                              2013-01-21 14:35:50+02:00  0.000000
                              2013-01-21 14:40:50+02:00  2.583333
...                                                           ...
9999             27           2013-02-09 19:37:29+02:00       NaN
                              2013-02-09 19:42:29+02:00       NaN
                              2013-02-09 19:47:29+02:00       NaN
                              2013-02-09 19:52:29+02:00       NaN
                              2013-02-09 19:57:29+02:00       NaN

[7974202 rows x 2 columns]

In [42]:
s = sll.get_data().df

2020-20-01 09:45:12 INFO Loader.py:296 Starting to load data for SleepLoader
2020-20-01 09:45:12 INFO Loader.py:298 Finished loading data for SleepLoader
2020-20-01 09:45:12 INFO Loader.py:296 Starting to load data for SubjectLoader
2020-20-01 09:45:12 INFO Caching.py:125 Loading subjects from cache...
2020-20-01 09:45:12 INFO Loader.py:298 Finished loading data for SubjectLoader

/home/elming/anaconda3/envs/mylabdata/lib/python3.7/site-packages/pandas/core/indexes/base.py:183: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)

In [43]:
s.head()

                                             wakeup_time Quality
RegistrationCode sleep_time
0                2015-06-11 09:23:15 2015-06-11 09:23:21     NaT
                 2015-06-11 09:56:54 2015-06-11 19:56:37     NaT
                 2015-06-12 01:50:00 2015-06-12 02:29:19     NaT
                 2015-06-12 02:29:09 2015-06-12 02:29:19     NaT
                 2015-06-14 01:45:40 2015-06-14 11:08:19     NaT

In [44]:
s = s.reset_index('sleep_time')
s['sleep_time'] = s['sleep_time'].dt.tz_localize('Asia/Jerusalem', ambiguous='NaT', nonexistent='NaT')
s['wakeup_time'] = s['wakeup_time'].dt.tz_localize('Asia/Jerusalem', ambiguous='NaT', nonexistent='NaT')
s = s[['sleep_time', 'wakeup_time']].dropna()
s['Duration'] = s.wakeup_time - s.sleep_time
s = s[(s.Duration > datetime.timedelta(hours=3.5)) & (
                s.Duration < datetime.timedelta(hours=14))]

In [79]:
cgm = cgm.reset_index(['Date', 'ConnectionID']).sort_values('Date')
max_sleeping_time = pd.Timedelta(hours=14)

In [80]:
df_l = pd.merge_asof(cgm, s['sleep_time'].sort_values(),
                    by='RegistrationCode', left_on=['Date'], right_on=['sleep_time'],
                    direction='backward', tolerance=max_sleeping_time).dropna(subset=['sleep_time'])

In [81]:
df_l.sample(30)

,RegistrationCode,ConnectionID,Date,GlucoseValue,PPGR,sleep_time
4209831,69789,3393,2018-07-18 05:08:00+03:00,157.0,NaN,2018-07-17 23:39:00+03:00
5954420,702207,5266,2019-03-14 00:31:00+02:00,70.0,6.750000,2019-03-13 23:30:00+02:00
5169318,173854,4552,2018-12-09 00:43:00+02:00,91.0,0.000000,2018-12-08 23:45:04+02:00
900494,490764,629,2014-07-13 05:47:33+03:00,93.0,NaN,2014-07-12 23:10:00+03:00
7042176,997427,5853,2019-07-14 00:06:00+03:00,110.0,0.000000,2019-07-13 23:01:00+03:00
2283636,2,1655,2017-08-05 15:47:00+03:00,97.0,34.000000,2017-08-05 02:39:35+03:00
2163375,439484,1497,2017-06-19 08:23:00+03:00,123.0,0.000000,2017-06-18 23:25:20+03:00
3098954,662020,2430,2018-02-03 08:56:00+02:00,76.0,8.250000,2018-02-03 02:37:38+02:00
204969,802543,167,2013-11-16 15:01:55+02:00,89.0,51.666667,2013-11-16 02:00:00+02:00
1371095,896670,979,2015-01-02 05:06:58+02:00,100.0,0.000000,2015-01-01 23:10:00+02:00
1255016,192538,869,2014-12-02 11:34:47+02:00,89.0,34.250000,2014-12-01 23:00:00+02:00
354591,661,242,2014-01-02 03:30:56+02:00,77.0,0.000000,2014-01-02 01:20:00+02:00
2342089,865727,1682,2017-08-23 02:17:00+03:00,105.0,0.000000,2017-08-22 22:38:46+03:00
1004662,291893,702,2014-08-11 23:39:28+03:00,91.0,0.000000,2014-08-11 23:35:00+03:00
4224105,49674,3496,2018-07-20 04:05:00+03:00,79.0,7.750000,2018-07-20 00:15:00+03:00
3933173,579543,3178,2018-06-10 00:23:00+03:00,99.0,NaN,2018-06-09 23:30:00+03:00
3321788,133828,2564,2018-03-13 04:03:00+02:00,125.0,17.000000,2018-03-13 01:00:00+02:00
5436347,509553,4779,2019-01-13 08:41:00+02:00,106.0,19.000000,2019-01-12 22:47:43+02:00
2490982,2149698,3029,2017-10-06 02:22:00+03:00,123.0,0.000000,2017-10-06 00:41:10+03:00
1465031,677404,1021,2015-01-31 12:48:11+02:00,88.0,0.000000,2015-01-31 02:55:00+02:00
2393638,2565375,3024,2017-09-09 11:58:00+03:00,208.0,NaN,2017-09-09 00:00:50+03:00
1451873,677404,1021,2015-01-26 14:38:07+02:00,94.0,0.000000,2015-01-26 01:40:00+02:00
3100112,848368,2369,2018-02-03 13:06:00+02:00,89.0,NaN,2018-02-03 00:29:13+02:00
1754298,701180,1207,2015-06-20 09:44:49+03:00,72.0,12.666667,2015-06-19 23:41:00+03:00
786687,203727,564,2014-06-12 23:40:33+03:00,110.0,0.000000,2014-06-12 22:00:00+03:00
4754089,429763,4011,2018-10-13 14:25:00+03:00,109.0,NaN,2018-10-13 02:05:02+03:00
4658732,838820,3780,2018-09-27 02:48:00+03:00,89.0,0.000000,2018-09-27 00:30:54+03:00
758546,924164,563,2014-05-29 13:32:46+03:00,81.0,11.333333,2014-05-29 01:07:00+03:00
5545860,831208,4744,2019-01-26 11:26:00+02:00,91.0,64.500000,2019-01-25 23:30:00+02:00
2913166,339142,2173,2017-12-29 00:37:00+02:00,78.0,4.125000,2017-12-28 22:24:57+02:00

In [231]:
df_lr = pd.merge_asof(df_l, s['wakeup_time'].sort_values(),
                    by='RegistrationCode', left_on=['Date'], right_on=['wakeup_time'],
                    direction='forward', tolerance=max_sleeping_time).dropna(subset=['wakeup_time'])

In [233]:
df_lr.set_index(['RegistrationCode', 'ConnectionID', 'Date']).drop(columns=['sleep_time', 'wakeup_time'])

                                                         GlucoseValue   PPGR
RegistrationCode ConnectionID Date
3                8            2013-01-21 23:58:32+02:00          78.0   0.00
                              2013-01-22 00:03:32+02:00          79.0   0.00
                              2013-01-22 00:08:32+02:00          79.0   0.00
                              2013-01-22 00:13:32+02:00          76.0   0.00
                              2013-01-22 00:18:32+02:00          73.0   0.00
...                                                               ...    ...
954766           6076         2019-11-08 05:51:00+02:00          67.0  15.75
                              2019-11-08 06:06:00+02:00          70.0  13.00
                              2019-11-08 06:21:00+02:00          71.0  13.50
                              2019-11-08 06:36:00+02:00          73.0  11.00
                              2019-11-08 06:50:00+02:00          73.0  11.50

[1171444 rows x 2 columns]

In [118]:
df_lr = df_lr.set_index(['RegistrationCode','Date']).sort_index()

In [222]:
old = cgm_night.reset_index().drop(columns=['day','Duration','index'])

In [227]:
old.set_index(['RegistrationCode', 'Date'], inplace=True)

In [120]:
df_lr['sleep_time'] = df_lr['sleep_time'].dt.tz_localize(None)
df_lr['wakeup_time'] = df_lr['wakeup_time'].dt.tz_localize(None)

In [224]:
df_lr

                                           ConnectionID  GlucoseValue  PPGR  \
RegistrationCode Date
1                2016-02-22 23:15:31+02:00         1319         106.0   0.0
                 2016-02-22 23:20:31+02:00         1319         106.0   0.0
                 2016-02-22 23:25:31+02:00         1319         105.0   0.0
                 2016-02-22 23:30:31+02:00         1319         105.0   0.0
                 2016-02-22 23:35:31+02:00         1319         104.0   0.0
...                                                 ...           ...   ...
999443           2017-12-06 05:52:00+02:00         2157          68.0   NaN
                 2017-12-06 06:07:00+02:00         2157          65.0   NaN
                 2017-12-06 06:22:00+02:00         2157          64.0   NaN
                 2017-12-06 06:37:00+02:00         2157          65.0   NaN
                 2017-12-06 06:52:00+02:00         2157          64.0   NaN

                                                    sleep_time  \
RegistrationCode Date
1                2016-02-22 23:15:31+02:00 2016-02-22 23:15:00
                 2016-02-22 23:20:31+02:00 2016-02-22 23:15:00
                 2016-02-22 23:25:31+02:00 2016-02-22 23:15:00
                 2016-02-22 23:30:31+02:00 2016-02-22 23:15:00
                 2016-02-22 23:35:31+02:00 2016-02-22 23:15:00
...                                                        ...
999443           2017-12-06 05:52:00+02:00 2017-12-06 00:37:27
                 2017-12-06 06:07:00+02:00 2017-12-06 00:37:27
                 2017-12-06 06:22:00+02:00 2017-12-06 00:37:27
                 2017-12-06 06:37:00+02:00 2017-12-06 00:37:27
                 2017-12-06 06:52:00+02:00 2017-12-06 00:37:27

                                                   wakeup_time
RegistrationCode Date
1                2016-02-22 23:15:31+02:00 2016-02-23 07:20:00
                 2016-02-22 23:20:31+02:00 2016-02-23 07:20:00
                 2016-02-22 23:25:31+02:00 2016-02-23 07:20:00
                 2016-02-22 23:30:31+02:00 2016-02-23 07:20:00
                 2016-02-22 23:35:31+02:00 2016-02-23 07:20:00
...                                                        ...
999443           2017-12-06 05:52:00+02:00 2017-12-06 07:10:48
                 2017-12-06 06:07:00+02:00 2017-12-06 07:10:48
                 2017-12-06 06:22:00+02:00 2017-12-06 07:10:48
                 2017-12-06 06:37:00+02:00 2017-12-06 07:10:48
                 2017-12-06 06:52:00+02:00 2017-12-06 07:10:48

[1171444 rows x 5 columns]

In [229]:
old.dropna(subset=['sleep_time','wakeup_time'], inplace=True)

In [230]:
comparison_df = pd.merge(old.reset_index().drop(columns='sleep_time'), df_lr.reset_index().drop(columns='sleep_time'), indicator=True, how='outer')

ValueError: You are trying to merge on datetime64[ns, Asia/Jerusalem] and datetime64[ns] columns. If you wish to proceed you should use pd.concat

In [180]:
comparison_df.shape

(1200513, 7)

In [181]:
comparison_df

,RegistrationCode,Date,ConnectionID,GlucoseValue,PPGR,wakeup_time,_merge
0,1,2016-02-22 23:15:31+02:00,1319,106.0,0.000000,2016-02-23 07:20:00,both
1,1,2016-02-22 23:20:31+02:00,1319,106.0,0.000000,2016-02-23 07:20:00,both
2,1,2016-02-22 23:25:31+02:00,1319,105.0,0.000000,2016-02-23 07:20:00,both
3,1,2016-02-22 23:30:31+02:00,1319,105.0,0.000000,2016-02-23 07:20:00,both
4,1,2016-02-22 23:35:31+02:00,1319,104.0,0.000000,2016-02-23 07:20:00,both
...,...,...,...,...,...,...,...
1200508,992638,2017-09-28 02:09:00+03:00,1765,79.0,NaN,2017-09-28 03:02:08,right_only
1200509,992638,2017-09-28 02:24:00+03:00,1765,81.0,NaN,2017-09-28 03:02:08,right_only
1200510,992638,2017-09-28 02:39:00+03:00,1765,83.0,NaN,2017-09-28 03:02:08,right_only
1200511,992638,2017-09-28 02:55:00+03:00,1765,86.0,14.750000,2017-09-28 03:02:08,right_only
1200512,994875,2014-09-18 13:33:18+03:00,757,79.0,23.666667,2014-09-19 03:31:00,right_only

In [182]:
comparison_df[comparison_df._merge != 'both']

,RegistrationCode,Date,ConnectionID,GlucoseValue,PPGR,wakeup_time,_merge
9391,111527,2018-05-13 00:10:00+03:00,3103,105.0,0.000000,2018-05-13 06:00:13,left_only
9392,111527,2018-05-13 00:25:00+03:00,3103,105.0,0.000000,2018-05-13 06:00:13,left_only
9393,111527,2018-05-13 00:40:00+03:00,3103,105.0,0.000000,2018-05-13 06:00:13,left_only
9394,111527,2018-05-13 00:55:00+03:00,3103,103.0,0.000000,2018-05-13 06:00:13,left_only
9395,111527,2018-05-13 01:10:00+03:00,3103,100.0,0.000000,2018-05-13 06:00:13,left_only
...,...,...,...,...,...,...,...
1200508,992638,2017-09-28 02:09:00+03:00,1765,79.0,NaN,2017-09-28 03:02:08,right_only
1200509,992638,2017-09-28 02:24:00+03:00,1765,81.0,NaN,2017-09-28 03:02:08,right_only
1200510,992638,2017-09-28 02:39:00+03:00,1765,83.0,NaN,2017-09-28 03:02:08,right_only
1200511,992638,2017-09-28 02:55:00+03:00,1765,86.0,14.750000,2017-09-28 03:02:08,right_only
1200512,994875,2014-09-18 13:33:18+03:00,757,79.0,23.666667,2014-09-19 03:31:00,right_only

In [183]:
old.shape

(1186968, 5)

In [184]:
df_lr.shape

(1171444, 5)

In [166]:
1194981 - 1171444

23537

In [185]:
old.sort_index().loc[('111527', '2018-05-13 00:10:00+03:00'),:]

,,ConnectionID,GlucoseValue,PPGR,sleep_time,wakeup_time
RegistrationCode,Date,,,,,
111527,2018-05-13 00:10:00+03:00,3103,105.0,0.0,2018-05-13,2018-05-13 06:00:13

In [207]:
tmp = s.loc['111527']

RegistrationCode
111527    False
111527    False
111527    False
111527    False
111527    False
          ...
111527    False
111527    False
111527    False
111527    False
111527    False
Name: wakeup_time, Length: 184, dtype: bool

In [208]:
tmp[tmp.wakeup_time == '2018-05-13 06:00:13+03:00']

Empty DataFrame
Columns: [sleep_time, wakeup_time, Duration]
Index: []

In [201]:
df_lr[df_lr.ConnectionID == '3103'].index.get_level_values('Date').date

array([datetime.date(2018, 5, 9), datetime.date(2018, 5, 9),
       datetime.date(2018, 5, 9), datetime.date(2018, 5, 9),
       datetime.date(2018, 5, 9), datetime.date(2018, 5, 9),
       datetime.date(2018, 5, 9), datetime.date(2018, 5, 10),
       datetime.date(2018, 5, 10), datetime.date(2018, 5, 10),
       datetime.date(2018, 5, 10), datetime.date(2018, 5, 10),
       datetime.date(2018, 5, 10), datetime.date(2018, 5, 10),
       datetime.date(2018, 5, 10), datetime.date(2018, 5, 10),
       datetime.date(2018, 5, 10), datetime.date(2018, 5, 10),
       datetime.date(2018, 5, 10), datetime.date(2018, 5, 10),
       datetime.date(2018, 5, 10), datetime.date(2018, 5, 10),
       datetime.date(2018, 5, 10), datetime.date(2018, 5, 10),
       datetime.date(2018, 5, 10), datetime.date(2018, 5, 10),
       datetime.date(2018, 5, 10), datetime.date(2018, 5, 10),
       datetime.date(2018, 5, 10), datetime.date(2018, 5, 10),
       datetime.date(2018, 5, 10), datetime.date(2018, 5, 11),
       datetime.date(2018, 5, 11), datetime.date(2018, 5, 11),
       datetime.date(2018, 5, 11), datetime.date(2018, 5, 11),
       datetime.date(2018, 5, 11), datetime.date(2018, 5, 11),
       datetime.date(2018, 5, 11), datetime.date(2018, 5, 11),
       datetime.date(2018, 5, 11), datetime.date(2018, 5, 11),
       datetime.date(2018, 5, 11), datetime.date(2018, 5, 11),
       datetime.date(2018, 5, 11), datetime.date(2018, 5, 11),
       datetime.date(2018, 5, 11), datetime.date(2018, 5, 11),
       datetime.date(2018, 5, 11), datetime.date(2018, 5, 11),
       datetime.date(2018, 5, 11), datetime.date(2018, 5, 11),
       datetime.date(2018, 5, 11), datetime.date(2018, 5, 11),
       datetime.date(2018, 5, 11), datetime.date(2018, 5, 14),
       datetime.date(2018, 5, 14), datetime.date(2018, 5, 14),
       datetime.date(2018, 5, 14), datetime.date(2018, 5, 15),
       datetime.date(2018, 5, 15), datetime.date(2018, 5, 15),
       datetime.date(2018, 5, 15), datetime.date(2018, 5, 15),
       datetime.date(2018, 5, 15), datetime.date(2018, 5, 15),
       datetime.date(2018, 5, 15), datetime.date(2018, 5, 15),
       datetime.date(2018, 5, 15), datetime.date(2018, 5, 15),
       datetime.date(2018, 5, 15), datetime.date(2018, 5, 15),
       datetime.date(2018, 5, 15), datetime.date(2018, 5, 15),
       datetime.date(2018, 5, 15), datetime.date(2018, 5, 15),
       datetime.date(2018, 5, 15), datetime.date(2018, 5, 15),
       datetime.date(2018, 5, 15), datetime.date(2018, 5, 15),
       datetime.date(2018, 5, 15), datetime.date(2018, 5, 15),
       datetime.date(2018, 5, 15), datetime.date(2018, 5, 17),
       datetime.date(2018, 5, 17), datetime.date(2018, 5, 17),
       datetime.date(2018, 5, 17), datetime.date(2018, 5, 17),
       datetime.date(2018, 5, 17), datetime.date(2018, 5, 17),
       datetime.date(2018, 5, 17), datetime.date(2018, 5, 17),
       datetime.date(2018, 5, 17), datetime.date(2018, 5, 17),
       datetime.date(2018, 5, 17), datetime.date(2018, 5, 17),
       datetime.date(2018, 5, 17), datetime.date(2018, 5, 17),
       datetime.date(2018, 5, 17), datetime.date(2018, 5, 17),
       datetime.date(2018, 5, 17), datetime.date(2018, 5, 17),
       datetime.date(2018, 5, 17), datetime.date(2018, 5, 17),
       datetime.date(2018, 5, 17), datetime.date(2018, 5, 17),
       datetime.date(2018, 5, 17), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19),
       datetime.date(2018, 5, 19), datetime.date(2018, 5, 19)],
      dtype=object)

In [158]:
df_lr.sort_index().loc[('1', '2016-02-23 00:00:31+02:00'),:]

,,ConnectionID,GlucoseValue,PPGR,sleep_time,wakeup_time
RegistrationCode,Date,,,,,
1,2016-02-23 00:00:31+02:00,1319,100.0,0.0,2016-02-22 23:15:00,2016-02-23 07:20:00

In [143]:
df_lr.merge(old, indicator=True, how='outer')

                                           ConnectionID_x  GlucoseValue_x  \
RegistrationCode Date
1                2016-02-22 23:15:31+02:00           1319           106.0
                 2016-02-22 23:20:31+02:00           1319           106.0
                 2016-02-22 23:25:31+02:00           1319           105.0
                 2016-02-22 23:30:31+02:00           1319           105.0
                 2016-02-22 23:35:31+02:00           1319           104.0
...                                                   ...             ...
987667           2013-10-13 06:38:20+03:00            NaN             NaN
                 2013-10-13 06:43:20+03:00            NaN             NaN
                 2013-10-13 06:48:20+03:00            NaN             NaN
                 2013-10-13 06:53:20+03:00            NaN             NaN
                 2013-10-13 06:58:20+03:00            NaN             NaN

                                            PPGR_x        sleep_time_x  \
RegistrationCode Date
1                2016-02-22 23:15:31+02:00     0.0 2016-02-22 23:15:00
                 2016-02-22 23:20:31+02:00     0.0 2016-02-22 23:15:00
                 2016-02-22 23:25:31+02:00     0.0 2016-02-22 23:15:00
                 2016-02-22 23:30:31+02:00     0.0 2016-02-22 23:15:00
                 2016-02-22 23:35:31+02:00     0.0 2016-02-22 23:15:00
...                                            ...                 ...
987667           2013-10-13 06:38:20+03:00     NaN                 NaT
                 2013-10-13 06:43:20+03:00     NaN                 NaT
                 2013-10-13 06:48:20+03:00     NaN                 NaT
                 2013-10-13 06:53:20+03:00     NaN                 NaT
                 2013-10-13 06:58:20+03:00     NaN                 NaT

                                                 wakeup_time_x ConnectionID_y  \
RegistrationCode Date
1                2016-02-22 23:15:31+02:00 2016-02-23 07:20:00           1319
                 2016-02-22 23:20:31+02:00 2016-02-23 07:20:00           1319
                 2016-02-22 23:25:31+02:00 2016-02-23 07:20:00           1319
                 2016-02-22 23:30:31+02:00 2016-02-23 07:20:00           1319
                 2016-02-22 23:35:31+02:00 2016-02-23 07:20:00           1319
...                                                        ...            ...
987667           2013-10-13 06:38:20+03:00                 NaT             77
                 2013-10-13 06:43:20+03:00                 NaT             77
                 2013-10-13 06:48:20+03:00                 NaT             77
                 2013-10-13 06:53:20+03:00                 NaT             77
                 2013-10-13 06:58:20+03:00                 NaT             77

                                            GlucoseValue_y     PPGR_y  \
RegistrationCode Date
1                2016-02-22 23:15:31+02:00           106.0   0.000000
                 2016-02-22 23:20:31+02:00           106.0   0.000000
                 2016-02-22 23:25:31+02:00           105.0   0.000000
                 2016-02-22 23:30:31+02:00           105.0   0.000000
                 2016-02-22 23:35:31+02:00           104.0   0.000000
...                                                    ...        ...
987667           2013-10-13 06:38:20+03:00            97.0  27.208333
                 2013-10-13 06:43:20+03:00            97.0  30.208333
                 2013-10-13 06:48:20+03:00            98.0  31.000000
                 2013-10-13 06:53:20+03:00            99.0  31.541667
                 2013-10-13 06:58:20+03:00           100.0  31.791667

                                                  sleep_time_y  \
RegistrationCode Date
1                2016-02-22 23:15:31+02:00 2016-02-22 23:15:00
                 2016-02-22 23:20:31+02:00 2016-02-22 23:15:00
                 2016-02-22 23:25:31+02:00 2016-02-22 23:15:00
                 2016-02-22 23:30:31+02:00 2016-02-22 23:15:00
                 2016-02-22 23:35:31+02:00 2016-02-22 23:15:00
...                                                        ...
987667           2013-10-13 06:38:20+03:00 2013-10-13 03:40:00
                 2013-10-13 06:43:20+03:00 2013-10-13 03:40:00
                 2013-10-13 06:48:20+03:00 2013-10-13 03:40:00
                 2013-10-13 06:53:20+03:00 2013-10-13 03:40:00
                 2013-10-13 06:58:20+03:00 2013-10-13 03:40:00

                                                 wakeup_time_y      _merge
RegistrationCode Date
1                2016-02-22 23:15:31+02:00 2016-02-23 07:20:00        both
                 2016-02-22 23:20:31+02:00 2016-02-23 07:20:00        both
                 2016-02-22 23:25:31+02:00 2016-02-23 07:20:00        both
                 2016-02-22 23:30:31+02:00 2016-02-23 07:20:00        both
                 2016-02-22 23:35:31+02:00 2016-02-23 07:20:00        both
...                                                        ...         ...
987667           2013-10-13 06:38:20+03:00 2013-10-13 07:00:00  right_only
                 2013-10-13 06:43:20+03:00 2013-10-13 07:00:00  right_only
                 2013-10-13 06:48:20+03:00 2013-10-13 07:00:00  right_only
                 2013-10-13 06:53:20+03:00 2013-10-13 07:00:00  right_only
                 2013-10-13 06:58:20+03:00 2013-10-13 07:00:00  right_only

[1206951 rows x 11 columns]

In [87]:
test1 = cgm_night['Date'].between(cgm_night['sleep_time'], cgm_night['wakeup_time'])
test1.sum()

1194981

In [14]:
test1 = df_lr['Date'].between(df_lr['sleep_time'], df_lr['wakeup_time'])
assert test1.sum() == len(test1), 'oyvavoy!'
test2 = (df_lr['Date'] - df_lr['sleep_time']).max()
assert test2 <= max_sleeping_time, 'oyvavoy!'
test3 = (df_lr['wakeup_time'] - df_lr['Date']).max()
assert test3 <= max_sleeping_time, 'oyvavoy!'

NameError: name 's' is not defined