# Get Night CGM function
Creating a function to give me night CGM for available data

In [5]:
from LabData.DataLoaders.CGMLoader import CGMLoader
from LabData.DataLoaders.SleepLoader import SleepLoader

In [54]:
import pandas as pd

In [6]:
cgml = CGMLoader()
sll = SleepLoader()

In [34]:
cgmdf = cgml.get_data().df

In [9]:
sleepdf = sll.get_data().df

/home/elming/anaconda3/envs/mylabdata/lib/python3.7/site-packages/pandas/core/indexes/base.py:183: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)

In [11]:
sleepdf.reset_index('sleep_time', inplace=True)

In [46]:
sleepdf

                          sleep_time         wakeup_time Quality         Day
RegistrationCode
0                2015-06-11 09:23:15 2015-06-11 09:23:21     NaT  2015-06-11
0                2015-06-11 09:56:54 2015-06-11 19:56:37     NaT  2015-06-11
0                2015-06-12 01:50:00 2015-06-12 02:29:19     NaT  2015-06-12
0                2015-06-12 02:29:09 2015-06-12 02:29:19     NaT  2015-06-12
0                2015-06-14 01:45:40 2015-06-14 11:08:19     NaT  2015-06-14
...                              ...                 ...     ...         ...
2147483647       2015-05-22 13:32:28 2015-05-23 07:10:41     NaT  2015-05-22
2147483647       2015-05-23 01:30:34 2015-05-23 07:10:41     NaT  2015-05-23
2147483647       2015-05-24 00:24:00 2015-05-25 11:00:43     NaT  2015-05-24
2147483647       2015-05-25 00:19:00 2015-05-25 11:00:43     NaT  2015-05-25
2147483647       2015-05-27 01:40:48 2015-05-27 07:30:47     NaT  2015-05-27

[49846 rows x 4 columns]

In [45]:
sleepdf['Day'] = sleepdf.sleep_time.dt.date

In [48]:
sleepdf.loc['1'].Day.unique()

array([datetime.date(2013, 7, 17), datetime.date(2013, 10, 28),
       datetime.date(2015, 11, 24), datetime.date(2016, 2, 13),
       datetime.date(2016, 2, 22), datetime.date(2016, 2, 24),
       datetime.date(2016, 2, 25), datetime.date(2016, 2, 26),
       datetime.date(2016, 2, 27), datetime.date(2016, 3, 1),
       datetime.date(2016, 3, 25), datetime.date(2016, 3, 26),
       datetime.date(2016, 3, 27), datetime.date(2016, 3, 28),
       datetime.date(2016, 3, 29), datetime.date(2016, 3, 30),
       datetime.date(2016, 3, 31), datetime.date(2016, 4, 2),
       datetime.date(2016, 4, 3), datetime.date(2016, 4, 5),
       datetime.date(2016, 11, 21), datetime.date(2016, 11, 23),
       datetime.date(2016, 11, 24), datetime.date(2016, 12, 4),
       datetime.date(2016, 12, 5), datetime.date(2016, 12, 7),
       datetime.date(2016, 12, 8), datetime.date(2016, 12, 9),
       datetime.date(2016, 12, 10), datetime.date(2017, 1, 1),
       datetime.date(2017, 1, 2), datetime.date(2017, 1, 3),
       datetime.date(2017, 1, 5), datetime.date(2017, 2, 1),
       datetime.date(2017, 2, 2), datetime.date(2017, 2, 3),
       datetime.date(2017, 2, 4), datetime.date(2017, 2, 5),
       datetime.date(2017, 2, 7), datetime.date(2017, 3, 5),
       datetime.date(2017, 3, 7), datetime.date(2017, 3, 8),
       datetime.date(2017, 3, 10), datetime.date(2017, 3, 12),
       datetime.date(2017, 3, 30), datetime.date(2017, 4, 2),
       datetime.date(2017, 4, 3), datetime.date(2017, 4, 4),
       datetime.date(2017, 4, 6), datetime.date(2017, 4, 7),
       datetime.date(2017, 5, 7), datetime.date(2017, 5, 9),
       datetime.date(2017, 5, 11), datetime.date(2017, 5, 12)],
      dtype=object)

## Night CGM for those dates with sleep data available

In [32]:
rc_sleep = sleepdf.index.unique()

1. Retain only those reg codes that are in the list

In [37]:
cgm_filtered = cgmdf[cgmdf.index.get_level_values('RegistrationCode').isin(rc_sleep)]

In [39]:
cgmdf.shape

(7974202, 4)

In [41]:
cgm_filtered

,ConnectionID,Date,GlucoseValue,PPGR,Day
RegistrationCode,,,,,
1,1319,2016-02-22 09:20:30+02:00,107.0,1.833333,2016-02-22
1,1319,2016-02-22 09:25:30+02:00,106.0,3.708333,2016-02-22
1,1319,2016-02-22 09:30:30+02:00,106.0,3.625000,2016-02-22
1,1319,2016-02-22 09:35:30+02:00,106.0,3.666667,2016-02-22
1,1319,2016-02-22 09:40:30+02:00,106.0,4.000000,2016-02-22
...,...,...,...,...,...
999443,3755,2018-07-19 12:33:00+03:00,79.0,NaN,2018-07-19
999443,3755,2018-07-19 12:48:00+03:00,77.0,NaN,2018-07-19
999443,3755,2018-07-19 13:03:00+03:00,86.0,NaN,2018-07-19
999443,3755,2018-07-19 13:17:00+03:00,108.0,NaN,2018-07-19
999443,3755,2018-07-19 13:32:00+03:00,110.0,NaN,2018-07-19

I want to retain only those days with available sleep data

In [40]:
cgm_filtered['Day'] = cgm_filtered.Date.dt.date

/home/elming/anaconda3/envs/mylabdata/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [59]:
grp = cgm_filtered.reset_index().groupby(['RegistrationCode', 'Day'], as_index=False)

In [63]:
grp.applly(lambda x: print(x["Day"]))

AttributeError: 'DataFrameGroupBy' object has no attribute 'applly'