# HowTo

In this notebook there are examples on how to work with LabData, LabUtils, LabQueue etc.

## Setup
I don't need to do all below if in the file /home/elming/.local/lib/python3.5/site-packages/easy-install.pth there are paths to respective folders:  
- /home/elming/LabRepos/LabData
- /home/elming/LabRepos/LabQueue
etc.

This is normally added automatically, but as I changed the name of the folder from SegalLab to LabRepos it crashed for me until I edited the file manually.

In [1]:
import pandas as pd
import numpy as np
import os
import sys

In [2]:
# lab_dir = "/home/elming/LabRepos/"
# sys.path.append(os.path.join(lab_dir, 'LabData'))
# sys.path.append(os.path.join(lab_dir, 'DataUtils'))
# sys.path.append(os.path.join(lab_dir, 'LabUtils'))
# sys.path.append(os.path.join(lab_dir, 'LabQueue'))

In [3]:
# from LabData.DataLoaders.BodyMeasuresLoader import BodyMeasuresLoader
# from LabData.DataLoaders.CGMLoader import CGMLoader

In [4]:
print(sys.path)

['/usr/wisdom/python3.5.3/lib/python35.zip', '/usr/wisdom/python3.5.3/lib/python3.5', '/usr/wisdom/python3.5.3/lib/python3.5/plat-linux', '/usr/wisdom/python3.5.3/lib/python3.5/lib-dynload', '', '/home/elming/.local/lib/python3.5/site-packages', '/home/elming/LabRepos/LabData', '/home/elming/LabRepos/LabUtils', '/home/elming/LabRepos/LabQueue', '/usr/wisdom/python3.5.3/lib/python3.5/site-packages', '/usr/wisdom/python3.5.3/lib/python3.5/site-packages/IPython/extensions', '/home/elming/.ipython']

This is how Erez does his imports
```
import LabData
from LabData.DataLoaders.Loader import Loader
CGMLoader = Loader.get_loader("CGMLoader")
check = CGMLoader.get_data()
check.df
```

In [5]:
import LabData

In [6]:
from LabData.DataLoaders.Loader import Loader

In [7]:
cgm = Loader.get_loader("CGMLoader")

In [8]:
check = cgm.get_data()

In [9]:
check

In [10]:
check.df

                                                         GlucoseValue  \
RegistrationCode ConnectionID Date
-1               1            2013-01-21 14:20:50+02:00          88.0
                              2013-01-21 14:25:50+02:00          89.0
                              2013-01-21 14:30:50+02:00          87.0
                              2013-01-21 14:35:50+02:00          85.0
                              2013-01-21 14:40:50+02:00          84.0
...                                                               ...
9999             27           2013-02-09 19:37:29+02:00          75.0
                              2013-02-09 19:42:29+02:00          77.0
                              2013-02-09 19:47:29+02:00          80.0
                              2013-02-09 19:52:29+02:00          84.0
                              2013-02-09 19:57:29+02:00          87.0

                                                             PPGR
RegistrationCode ConnectionID Date
-1               1            2013-01-21 14:20:50+02:00  0.000000
                              2013-01-21 14:25:50+02:00  0.000000
                              2013-01-21 14:30:50+02:00  0.000000
                              2013-01-21 14:35:50+02:00  0.000000
                              2013-01-21 14:40:50+02:00  2.583333
...                                                           ...
9999             27           2013-02-09 19:37:29+02:00       NaN
                              2013-02-09 19:42:29+02:00       NaN
                              2013-02-09 19:47:29+02:00       NaN
                              2013-02-09 19:52:29+02:00       NaN
                              2013-02-09 19:57:29+02:00       NaN

[7749605 rows x 2 columns]