 # Night glucose, nutrition and lifestyle
    
 Looking for associations between lifestyle data, nutrition and night glucose levels

In [89]:
import pandas as pd

In [72]:
import LabData
from LabData.DataLoaders.Loader import Loader

In [73]:
cgmLoader = Loader.get_loader("CGMLoader")

In [114]:
cgm = cgmLoader.get_data(study_ids=3)
#cgm = cgmLoader.get_data()

In [115]:
cgm_df = cgm.df
cgm_meta = cgm.df_metadata

In [116]:
cgm_df

                                                         GlucoseValue     PPGR
RegistrationCode ConnectionID Date
111527           1926         2017-11-06 14:16:00+02:00          79.0  109.750
                              2017-11-06 14:31:00+02:00          83.0  132.500
                              2017-11-06 14:46:00+02:00          86.0  153.500
                              2017-11-06 15:01:00+02:00          89.0  170.750
                              2017-11-06 15:16:00+02:00         118.0  127.375
...                                                               ...      ...
997735           5832         2019-07-21 07:45:00+03:00         117.0      NaN
                              2019-07-21 08:00:00+03:00         119.0      NaN
                              2019-07-21 08:15:00+03:00         127.0      NaN
                              2019-07-21 08:30:00+03:00         138.0      NaN
                              2019-07-21 08:45:00+03:00         135.0      NaN

[3478385 rows x 2 columns]

In [113]:
cgm_df.loc[('997735', slice(None), slice(None)), :]

                                                         GlucoseValue  PPGR
RegistrationCode ConnectionID Date
997735           4596         2018-12-31 13:12:00+02:00         107.0   0.0
                              2018-12-31 13:27:00+02:00         108.0   0.0
                              2018-12-31 13:42:00+02:00         106.0   0.0
                              2018-12-31 13:57:00+02:00         102.0   0.0
                              2018-12-31 14:12:00+02:00          96.0   0.0
...                                                               ...   ...
                 5832         2019-07-21 07:45:00+03:00         117.0   NaN
                              2019-07-21 08:00:00+03:00         119.0   NaN
                              2019-07-21 08:15:00+03:00         127.0   NaN
                              2019-07-21 08:30:00+03:00         138.0   NaN
                              2019-07-21 08:45:00+03:00         135.0   NaN

[15241 rows x 2 columns]

In [92]:
def filter_by_time(df, start, end):
    
    """
    The function filters the cgm entries between certain hours of the day. 
    The output is a dataframe containing the entries between start and end hour of each day.
    :param df: CGM DataFrame
    :param start: string of a type 'hh:mm'
    :param end: string of a type 'hh:mm'
    :return: filtered DataFrame with an index set to 'RegistrationCode', 'Day' and 'Time'
    """

    df = df.reset_index(['RegistrationCode', 'ConnectionID'])
    filtered_df = df.between_time(start, end)
    pd.options.mode.chained_assignment = None  # to avoid the warning message about chained assignments
    filtered_df['Day'] = filtered_df.index.date
    filtered_df['Time'] = filtered_df.index - filtered_df.index.normalize()
    filtered_df = filtered_df.set_index(['RegistrationCode', 'Day', 'Time'])
    filtered_df = filtered_df.sort_index(level=['RegistrationCode', 'Day', 'Time'])
    
    return filtered_df

In [91]:
filter_by_time(cgm_df, '1:00', '10:00')

                                     ConnectionID  GlucoseValue       PPGR
RegistrationCode Day        Time
-1               2013-01-22 01:00:47            1         126.0        NaN
                            01:05:47            1         105.0        NaN
                            01:10:47            1         103.0        NaN
                            01:15:47            1          95.0        NaN
                            01:25:47            1          86.0        NaN
...                                           ...           ...        ...
9999             2013-02-09 09:37:27           27          70.0  10.916667
                            09:42:27           27          70.0  11.833333
                            09:47:27           27          71.0  10.583333
                            09:52:27           27          72.0   9.166667
                            09:57:27           27          73.0   7.625000

[2940546 rows x 3 columns]

In [117]:
cgm_df

                                                         GlucoseValue     PPGR
RegistrationCode ConnectionID Date
111527           1926         2017-11-06 14:16:00+02:00          79.0  109.750
                              2017-11-06 14:31:00+02:00          83.0  132.500
                              2017-11-06 14:46:00+02:00          86.0  153.500
                              2017-11-06 15:01:00+02:00          89.0  170.750
                              2017-11-06 15:16:00+02:00         118.0  127.375
...                                                               ...      ...
997735           5832         2019-07-21 07:45:00+03:00         117.0      NaN
                              2019-07-21 08:00:00+03:00         119.0      NaN
                              2019-07-21 08:15:00+03:00         127.0      NaN
                              2019-07-21 08:30:00+03:00         138.0      NaN
                              2019-07-21 08:45:00+03:00         135.0      NaN

[3478385 rows x 2 columns]

In [102]:
sleep_df = pd.read_pickle('/net/mraid08/export/genie/LabData/Data/WIS/sleep_wakeup.dat')

/usr/wisdom/python3.5.3/lib/python3.5/site-packages/pandas/core/indexes/base.py:183: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return cls.__new__(cls, **d)

In [118]:
sleep_df.reset_index(inplace=True)

In [119]:
sleep_df.loc[:, ['RegistrationCode']] = sleep_df.loc[:,'RegistrationCode'].astype(int).astype(str)

In [121]:
sleep_df.set_index('RegistrationCode')

,index,RunningIndex,Quality,sleep_time,wakeup_time
RegistrationCode,,,,,
0,0,0,NaT,2015-06-11 09:23:15,2015-06-11 09:23:21
0,1,1,NaT,2015-06-11 09:56:54,2015-06-11 19:56:37
0,2,2,NaT,2015-06-12 01:50:00,2015-06-12 02:29:19
0,3,3,NaT,2015-06-12 02:29:09,2015-06-12 02:29:19
0,4,4,NaT,2015-06-14 01:45:40,2015-06-14 11:08:19
...,...,...,...,...,...
2147483647,49756,49756,NaT,2015-05-22 13:32:28,2015-05-23 07:10:41
2147483647,49757,49757,NaT,2015-05-23 01:30:34,2015-05-23 07:10:41
2147483647,49758,49758,NaT,2015-05-24 00:24:00,2015-05-25 11:00:43
2147483647,49759,49759,NaT,2015-05-25 00:19:00,2015-05-25 11:00:43
2147483647,49760,49760,NaT,2015-05-27 01:40:48,2015-05-27 07:30:47