# Exploring physical activity data

In [5]:
import pandas as pd
import os

In [2]:
wis_base_data_dir = '/net/mraid08/export/genie/LabData/Data/WIS'
# os.path.join(data_dir, 'WIS'))

In [7]:
physical_activity = pd.read_csv(os.path.join(wis_base_data_dir, 'exercise.csv'))

In [16]:
id_rc = pd.read_csv(os.path.join(wis_base_data_dir, 'users.csv'))
id_rc = id_rc.drop(columns='Unnamed: 0')
id_rc.head()

   UserID  RegistrationCode
0      -1                -1
1       0                 0
2      12                 1
3      13                -1
4      14              2000

In [17]:
id_rc.shape

(18522, 2)

In [21]:
physical_activity.shape

(3532, 6)

In [19]:
physical_activity['UserID'].nunique()

829

In [20]:
pd.merge(physical_activity, id_rc, on='UserID')

,UserID,Timestamp,EventID,EventTypeID,AdditionalInfo,Duration,RegistrationCode
0,76,1899-12-31 08:40:00,7773,24,4|,60,497132
1,76,2013-10-19 08:15:00,11566,24,3|ריצה,60,497132
2,76,2013-10-21 16:50:00,8214,24,4|ריצה,60,497132
3,75,1899-12-31 09:00:00,5476,23,3|,-1,282260
4,75,2013-09-30 08:15:00,5184,28,3|,90,282260
...,...,...,...,...,...,...,...
3527,5132,2015-07-12 19:01:50,116411,23,2|,30,76795
3528,4419,2015-07-11 15:30:00,116146,32,1|שחיית תינוקות,30,285502
3529,6097,2015-07-11 16:11:59,116004,23,2|lake rotoroa,60,0
3530,6090,2015-07-11 18:45:11,116175,24,2|,30,0
3531,6090,2015-07-12 22:30:59,116453,30,2|,60,0