# Exploring physical activity data

In [2]:
import pandas as pd
import os

In [3]:
wis_base_data_dir = '/net/mraid08/export/genie/LabData/Data/WIS'
# os.path.join(data_dir, 'WIS'))

In [4]:
physical_activity = pd.read_csv(os.path.join(wis_base_data_dir, 'exercise.csv'))

In [5]:
id_rc = pd.read_csv(os.path.join(wis_base_data_dir, 'users.csv'))
id_rc = id_rc.drop(columns='Unnamed: 0')
id_rc.head()

   UserID  RegistrationCode
0      -1                -1
1       0                 0
2      12                 1
3      13                -1
4      14              2000

In [6]:
id_rc.shape

(18821, 2)

In [7]:
physical_activity.shape

(3532, 6)

In [8]:
physical_activity['UserID'].nunique()

829

In [37]:
phys_act = pd.merge(physical_activity, id_rc, on='UserID')

In [38]:
phys_act['RegistrationCode'] = phys_act['RegistrationCode'].astype(str)

In [39]:
phys_act = phys_act.set_index('RegistrationCode').sort_index()

In [48]:
phys_act.index.nunique()

816

In [35]:
id_rc[id_rc['RegistrationCode'] == 91050]

      UserID  RegistrationCode
9973   10054             91050

In [24]:
id_rc.dtypes

UserID              int64
RegistrationCode    int64
dtype: object

In [51]:
from LabData.DataLoaders.CGMLoader import CGMLoader
import datetime
cgml = CGMLoader()
cgm = cgml.get_data(study_ids=3).df

In [52]:
cgm.head()

                                                   GlucoseValue     PPGR
RegistrationCode ConnectionID Date
111527           1926         2017-11-06 14:16:00          79.0  109.750
                              2017-11-06 14:31:00          83.0  132.500
                              2017-11-06 14:46:00          86.0  153.500
                              2017-11-06 15:01:00          89.0  170.750
                              2017-11-06 15:16:00         118.0  127.375

In [56]:
pnp3_rc_list = cgm.index.get_level_values(0).unique()

In [57]:
pnp3_rc_list

Index(['111527', '117111', '126092', '12752', '128811', '130279', '132095',
       '132178', '133828', '139531',
       ...
       '967551', '970940', '972181', '979162', '981727', '988899', '991569',
       '992638', '997427', '997735'],
      dtype='object', name='RegistrationCode', length=241)

In [59]:
phys_act[phys_act.index.isin(pnp3_rc_list)]

,UserID,Timestamp,EventID,EventTypeID,AdditionalInfo,Duration
RegistrationCode,,,,,,
794868,2289,2015-01-29 08:30:00,92553,23,1|הליכה עם הכלבים,45
831208,2678,2015-06-13 18:55:00,110451,31,3|משקולות ועוד,60
831208,2678,2015-06-12 16:30:00,110291,23,3|הליכה בפארק הלאומי,120
831208,2678,2015-06-08 15:30:00,109256,31,4|אימון כושר בחדר כוח חימום קרוס טריינר 10 דקות,105
831208,2678,2015-06-09 14:10:00,109637,30,5|קרוס טריינר 50 דקות 4 סטים בני דקה של בטן ס...,50
831208,2678,2015-06-10 12:20:00,109813,31,4|,140
831208,2678,2015-06-11 13:00:00,110017,30,4|קרוס טריינר,60
831208,2678,2015-06-07 19:00:00,108987,23,4|הליכה הררית,60
831208,2678,2014-08-05 09:30:00,62268,28,3|,45
831208,2678,2014-08-05 08:15:00,62267,32,4|עבודת אינטרוולים על קרוס טריינר בעומס גבוה,40
831208,2678,2015-06-07 17:00:00,108983,23,4|הליכה הררית,90